# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Pyre type checker
.pyre/

# Docker
.dockerignore
